@use '../utils'as*;



@import url($font-url);

/*****Reuse Property*****/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea,
input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
    outline: none;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--za-cr-white);
    color: var(--za-cr-darkBlue);
    font-size: var(--za-fs-body);
    font-family: var(--za-ff-body);
}

/*****Reuse Class*****/

.za-re-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/*----------------------------------------*/
/*  2.7 Preloader
/*----------------------------------------*/
#loading {
    background-color: var(--za-cr-royalBlue);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    top: 0px;
  }
  
  #loading-center {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .object {
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #FFF;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFF;
    border-right: 5px solid transparent;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
  }
  
  #object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
  }
  
  #object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  #object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  #object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  @-webkit-keyframes animate {
    50% {
      -ms-transform: rotate(360deg) scale(0.8);
      -webkit-transform: rotate(360deg) scale(0.8);
      transform: rotate(360deg) scale(0.8);
    }
  }
  @keyframes animate {
    50% {
      -ms-transform: rotate(360deg) scale(0.8);
      -webkit-transform: rotate(360deg) scale(0.8);
      transform: rotate(360deg) scale(0.8);
    }
  }

/*----------------------------------------*/
/*  2.2 Back to Top
/*----------------------------------------*/
#back-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: var(--za-cr-royalBlue);
    color: #fff;
    z-index: 9;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: scale(0.7);
  }
  #back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }