@use '../utils'as *;

/*****Faq Area Style*****/

.faq-area {
    background: var(--za-cr-grey20);

    @media #{$sm,$md,$od} {
        padding: 80px 0;
    }
}

.za-accordion-box {
    // margin-top: 20px;
    @media #{$sm,$md,$od} {
      margin-top: 20px;
    }
    & .za-faq-text {
        overflow-y: auto;
        padding-left: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        & li {
            list-style: none;
            border-bottom: 2px solid #ECECF1;
            padding-bottom: 10px;
            padding-top: 20px;
            cursor: pointer;

            &:nth-child(1) {
                padding-top: 0;
            }

            &:nth-child(5) {
                border-bottom: none;
                padding-bottom: 0;
            }

            & .za-question-arrow {
                display: flex;
                align-items: center;
                position: relative;

                & .za-serial {
                    font-size: var(--za-fs-h6);
                    font-weight: var(--za-fw-medium);
                    color: var(--za-cr-royalBlue);
                    padding: 0 60px 0 30px;

                    @media #{$od} {
                        padding: 0 25px 0 10px;
                    }
                }

                & .za-question {
                    font-size: var(--za-fs-h6);
                    font-weight: var(--za-fw-medium);
                    transition: all 0.3s ease;
                }

                & .icon {
                    font-size: 16px;
                    position: absolute;
                    right: 0;
                    transition: all 0.3s ease;
                }


            }

            &.showAnswer {
                & .icon {
                    transform: rotate(-45deg);
                }
            }

            & p {
                font-size: var(--za-fs-p);
                font-weight: var(--za-fw-regular);
                padding-left: 7.4rem;
                color: #282938;
                display: none;

                @media #{$od} {
                    // padding-left: 4.4rem;
                    padding-left: 62px;
                }
            }

            &.showAnswer {
                & p {
                    display: block;
                }
            }
        }
    }
}


// .za-accordion {
//     position: relative;

//     @media #{$sm,$md,$od} {
//         margin-top: 30px;
//     }

//     & .za-accordion-item {
//         margin-bottom: 10px;
//         border-bottom: 2px solid #ECECF1;
//         overflow: hidden;
//         padding: 24px 0;

//         &:nth-child(5) {
//             border-bottom: none;
//         }

//         &:nth-child(1) {
//             padding-top: 0;
//         }

//         & .za-accordion-header {
//             color: var(--za-cr-darkBlue);
//             font-size: var(--za-fs-h6);
//             line-height: 36px;
//             font-weight: var(--za-fw-medium);
//             transition: background-color 0.3s;
//             cursor: pointer;
//             // white-space: nowrap;
//             // text-overflow: ellipsis;

//             @media #{$lg} {
//                 font-size: 22px
//             }

//             @media #{$sm, $od} {
//                 font-size: 0.75rem
//             }

//             & .serial {
//                 margin-right: 50px;
//                 padding-left: 18px;

//                 color: var(--za-cr-royalBlue);
//             }

//             & .icon {
//                 font-size: 16px;
//                 position: absolute;
//                 margin-top: 10px;
//                 right: 0;
//                 transition: transform 0.3s ease;
//             }

//             &.active {
//                 & .icon {
//                     transform: rotate(45deg);
//                     /* Rotate '+' icon to 'x' when active */
//                 }
//             }
//         }

//         & .za-accordion-content {
//             display: none;

//             & p {
//                 font-weight: var(--za-fw-regular);
//                 padding: 12px 30px 0 96px;
//             }
//         }
//     }
// }

// .za-accordion-style {
//     & .accordion-button {
//         font-size: var(--za-fs-h6);

//         & .serial {
//             color: var(--za-cr-royalBlue);
//             font-size: var(--za-fs-h6);
//             margin-right: 66px;
//         }
//     }

//     & .accordion-body {
//         margin-inline: 90px;
//     }
// }